.con{
   
    display: grid;
     grid-template-columns: repeat(auto-fit,minmax(150px ,auto)); 
    grid-auto-rows: repeat(2,1fr);
    flex-wrap: wrap;
    gap: 25px;
    
  
    
    
   

}
.card{
    /* width: 30%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 0px 25px 6px white;
   
  
    background-color: rgb(184, 179, 179);
}
